#featuresOp .menu_features {
    display: flex;
    /* background: red; */
    justify-content: center;
}

.btn_features {
    /* background: yellow; */
    padding: 33px 0;
    width: 244px;
    text-align: center;
    font-size: 17px;
    color: var(--Grayish-Blue);
    border-bottom: 1px solid rgb(207, 207, 207);
    cursor: pointer;
}


.btn_features.active {
    color: var(--gray);
    box-shadow: inset 0 -4px 0 var(--Soft-Red-color);
}

@media (max-width:750px) {
    #featuresOp .menu_features {
        flex-direction: column;
        /* background: green; */
        align-items: center;
        /* padding: 0 25px; */
    }

    .btn_features {
        width: 65%;
    }
}