#contact {
    display: flex;
    flex-direction: column;
    background: var(--Soft-Blue-color);
    align-items: center;
    padding-bottom: 50px;
}

#contact .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 447px;
}

#contact .subtitle_contact {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 13px;
    padding-top: 65px;
}

#contact .title_contact {
    color: #FFF;
    padding-top: 35px;
    text-align: center;
}

#contact form {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding-top: 25px;
}

#contact input {
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 18px;
}

.input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 18px;
}

.error_email {
    background: var(--Soft-Red-color);
    color: #FFF;
    font-size: 11px;
    padding: 2px 4px;
    font-style: italic;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 -2px;
}

.container_error {
    position: relative;
}

.icon_adv {
    position: absolute;
    right: 15px;
    top: -38px;

}

.emailSent {
    background: var(--Soft-Red-color);
    color: #FFF;
    font-size: 11px;
    padding: 2px 4px;
    font-style: italic;
    border-radius: 4px;
    margin-top: 3px;
}

#contact button {
    background: var(--Soft-Red-color);
    width: 176px;
    padding: 14px 19px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    color: #FFF;
    height: 50px;
}

#contact button:hover {
    background: #FFF;
    outline: 2px solid var(--Soft-Red-color);
    color: var(--Soft-Red-color);
}

#contact input[type]:focus {
    outline: solid 3px var(--Soft-Red-color);
}

.input_error {
    outline: solid 3px var(--Soft-Red-color);
}

@media (max-width:580px) {
    #contact form {
        flex-direction: column;
    }

    #contact input {
        font-size: 15px;
        padding: 12px 15px;
    }


    #contact button {
        background: var(--Soft-Red-color);
        width: 100%;
        padding: 14px 19px;
        font-weight: 500;
    }

    #contact .title_contact {
        padding-top: 5px;
    }

    #contact .contact_container {
        padding: 0 20px;
    }

    .input_container {
        padding-left: 0px;
    }
}

.active {
    display: block;
}

.disabled {
    display: none;
}